@media only screen and (max-width: 1024px) {
  html {
    font-size: 8px;
  }
  .row {
    margin: 0 10rem;
  }
  header ul {
    display: none;
  }
  header .head-text {
    width: 80%;
  }
  header .head-text h1 {
    width: 80%;
    font-size: 5rem;
  }
  header .mobile-nav {
    display: block;
  }
  #about .col .img-blc {
    width: 100%;
    float: none;
  }
  #about .col .img-blc img {
    height: 15rem;
    width: 15rem;
  }
  #about .col .txt-blc {
    float: none;
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  #contract form {
    margin-top: 4.5rem;
  }
  #contract form .row {
    width: 80%;
  }
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 8px;
  }
  .span_1_of_4 {
    width: 49.2%;
  }
  .col:nth-child(3) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 6px;
  }
  html p {
    width: 100%;
    font-size: 4rem;
    line-height: 4rem;
    margin: 0 auto;
  }
  html .btn {
    border-bottom: 1rem solid #c86a40;
    padding: 2rem 10rem;
    color: white;
    border-radius: 1rem;
    font-size: 3rem;
  }
  html h2 {
    font-size: 8rem;
    letter-spacing: 0.6rem;
    font-weight: 700;
    margin: 2rem 0;
    font-family: 'tbold';
    text-transform: uppercase;
  }
  html h2::after {
    content: "";
    padding: 0em;
    display: block;
    width: 10rem;
    height: 0.8rem;
    background: #14a58c;
    margin: 3rem auto 3rem auto;
  }
  html h3 {
    font-size: 5rem;
    font-weight: 400;
    font-family: "tbold";
  }
  html h4 {
    font-size: 3.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 3rem 0 6rem 0;
  }
  header .row .head-text h1 {
    width: 80%;
    font-size: 7rem;
  }
  #services .box p {
    font-size: 3rem;
    font-weight: 500;
    line-height: 4rem;
    width: 100%;
    margin: 0 0;
  }
  #services .box img {
    height: 18rem;
    margin-bottom: 6rem;
  }
  #team .box p {
    font-size: 3rem;
    font-weight: 500;
    line-height: 8rem;
    width: 100%;
    margin: 0 0;
  }
  #team .box .icons li a {
    font-size: 2.5rem;
    display: block;
    height: 6rem;
    line-height: 3rem;
    border-radius: 50%;
    width: 6rem;
    padding: 1.5rem;
  }
  #about .col .txt-blc P {
    font-size: 4rem;
    line-height: 6rem;
  }
  #about .col .txt-blc .role {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  html {
    width: 150vw;
    height: 80vh;
    font-size: 3.8px;
  }
  html .row {
    margin: 0 10rem;
  }
  .span_1_of_4 {
    width: 100%;
  }
  .btn {
    border-bottom: 1rem solid #c86a40;
    padding: 4rem 15rem;
    color: white;
    border-radius: 1rem;
    font-size: 4rem;
  }
  p {
    width: 100%;
    font-size: 5rem;
    line-height: 6rem;
    margin: 0 auto;
  }
  h2 {
    font-size: 6rem;
    letter-spacing: 0.6rem;
    font-weight: 700;
    margin: 0;
    font-family: 'tbold';
    text-transform: uppercase;
  }
  h2::after {
    content: "";
    padding: 0em;
    display: block;
    width: 8.8rem;
    height: 0.6rem;
    background: #14a58c;
    margin: 2.0rem auto 2.5rem auto;
  }
  h3 {
    font-size: 5rem;
    font-weight: 400;
    font-family: "tbold";
  }
  h4 {
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 3rem 0 6rem 0;
  }
  #services .box p {
    font-size: 5rem;
    margin: 0 10%;
    font-weight: 500;
    width: 80%;
  }
  #team .box p {
    font-size: 4rem;
    font-weight: 500;
    width: 100%;
    margin: 0 0;
  }
  #team .box img {
    width: 35rem;
    height: 35rem;
    margin-bottom: 5rem;
  }
  #team .box .icons li a {
    font-size: 5rem;
    display: block;
    height: 10rem;
    line-height: 5rem;
    border-radius: 50%;
    width: 10rem;
    padding: 2rem;
  }
  #portfolio .buttons button {
    font-size: 3.5rem;
    border: none;
    border-radius: .5rem;
    width: 15rem;
    height: 8rem;
  }
  #portfolio .col img {
    width: 65rem;
  }
  #about .col .img-blc img {
    height: 30rem;
    width: 30rem;
  }
  #about .col .txt-blc P {
    font-size: 4rem;
  }
  #contract form {
    margin-top: 4.5rem;
  }
  #contract form .row {
    margin: 0 10rem;
    width: 80%;
  }
  #contract form .row input[type="text"],
  #contract form .row input[type="email"],
  #contract form .row textarea {
    margin-top: 5rem;
    border-radius: 0.5rem;
    padding: 5rem;
    font-size: 4rem;
  }
  footer li {
    text-decoration: none;
    padding: 1rem;
    margin: 0 2rem;
  }
  footer li a {
    font-size: 5rem;
  }
}
/*# sourceMappingURL=responsive.css.map */